@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui" {
    themes: corporate --default;
}
