@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "cooltheme";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(67% 0.182 276.935);
    --color-primary-content: oklch(25% 0.09 281.288);
    --color-secondary: oklch(70% 0.01 56.259);
    --color-secondary-content: oklch(14% 0.004 49.25);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
